@page "/plants"
@page "/plants/{PlantId}"
@using FiscalLabApp.Helpers
@using FiscalLabApp.Extensions

@inject NavigationManager NavigationManager
@inject IPlantService PlantService

<h6>Usina</h6>
<EditForm Model="@PlantViewModel" OnValidSubmit="@SaveOrUpdatePlant">
    <DataAnnotationsValidator/>
    <div class="form-floating mb-3">
        <InputText class="form-control" id="nameInput" @bind-Value="PlantViewModel.Name"/>
        <label for="nameInput">Nome <strong class="text-danger">*</strong></label>
        <ValidationMessage For="() => PlantViewModel.Name"/>
    </div >

    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <InputText class="form-control" id="stateInput" @bind-Value="PlantViewModel.City"/>
                <label for="emailInput">Cidade <strong class="text-danger">*</strong></label>
                <ValidationMessage For="() => PlantViewModel.City"/>
            </div >
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <InputSelect @bind-Value="SelectedState" class="form-control" id="cityInput" @bind-Value:after="OnChangeState">
                    @foreach (var state in  AddressHelper.StatesFromBrazil)
                    {
                        <option value="@state.Key" selected="@(PlantViewModel.State.Equals(state.Key))">@state.Value</option>
                    }
                </InputSelect>
                <label for="cityInput">Estado <strong class="text-danger">*</strong></label>
                <ValidationMessage For="() => PlantViewModel.State"/>
            </div >
        </div>

    </div>
    
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-secondary mb-3" @onclick="OnCancel">Cancelar</button>
        <button type="submit" class="btn btn-outline-success mb-3 ms-3">Salvar</button>
        <button type="button" class="btn btn-outline-danger mb-3 ms-3" disabled="@(string.IsNullOrWhiteSpace(PlantId))">Excluir</button>
    </div>
</EditForm >


@code {
    
    [Parameter] public string PlantId { get; set; } = string.Empty;

    [SupplyParameterFromQuery] public string Callback { get; set; } = "/";
    
    public PlantViewModel PlantViewModel = new();
    private string SelectedState { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(PlantId))
        {
            var plant = await PlantService.GetAsync(PlantId);
            PlantViewModel = plant.AsPlantViewModel();
            SelectedState = PlantViewModel.State;
        }
    }

    private async Task SaveOrUpdatePlant()
    {
        if (string.IsNullOrWhiteSpace(PlantId))
        {
            PlantViewModel.Id = Guid.NewGuid().ToString();
            var plant = PlantViewModel.AsPlant();
            await PlantService.CreateAsync(plant);
        }
        else
        {
            var plant = PlantViewModel.AsPlant();
            await PlantService.UpdateAsync(plant);
        }

        NavigationManager.NavigateTo(Callback);
    }

    private void OnChangeState()
    {
        PlantViewModel.State = SelectedState;
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo(Callback);
    }

}