@using FiscalLabApp.Extensions

<VisitDataSeparator Title="Balanças">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Balança de Entrada" Menu="@Menus.GetMenu(MenuType.CaneBalancePageInScale)" Id="inScale" @bind-value="SugarcaneBalance.InScale"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Balança de Saída" Menu="@Menus.GetMenu(MenuType.CaneBalancePageOutScale)" Id="outScale" @bind-value="SugarcaneBalance.OutScale"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Sorteio de Cargas" Menu="@Menus.GetMenu(MenuType.CaneBalancePageCargoDraw)" Id="cargoDraw" @bind-value="SugarcaneBalance.CargoDraw"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações(Teste de Balança)" Menu="@Menus.GetMenu(MenuType.CaneBalancePageScaleObservations)" Id="scaleObservations" @bind-value="SugarcaneBalance.ScaleObservations"/>
        </div>
    </div>

    <div class="d-grid">
        <button class="btn btn-primary" type="button" @onclick="OnBalanceTestsClickHandler">Testes</button>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Calibragens">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="1ª calibração" Menu="@Menus.GetMenu(MenuType.CaneBalancePageCalibration1)" Id="calibration1" @bind-value="SugarcaneBalance.Calibration1"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="2ª calibração" Menu="@Menus.GetMenu(MenuType.CaneBalancePageCalibration2)" Id="calibration2" @bind-value="SugarcaneBalance.Calibration2"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Órgão Responsável" Menu="@Menus.GetMenu(MenuType.CaneBalancePageResponsibleBody)" Id="responsibleBody" @bind-value="SugarcaneBalance.ResponsibleBody"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Certificado de Calibração" Menu="@Menus.GetMenu(MenuType.CaneBalancePageCalibrationCertificate)" Id="calibrationCertificate" @bind-value="SugarcaneBalance.CalibrationCertificate"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 1" Menu="@Menus.GetMenu(MenuType.CaneBalancePageObservations1)" Id="observations1" @bind-value="SugarcaneBalance.Observations1"/>
        </div>
    </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Porcentagens Analisadas">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Porcentagem Usina" Menu="@Menus.GetMenu(MenuType.CaneBalancePagePlantPercentage)" Id="plant" @bind-value="SugarcaneBalance.PlantPercentage"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Porcentagem Fornecedor" Menu="@Menus.GetMenu(MenuType.CaneBalancePageProviderPercentage)" Id="provider" @bind-value="SugarcaneBalance.ProviderPercentage"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Porcentagem Usina/Fazenda" Menu="@Menus.GetMenu(MenuType.CaneBalancePagePlantFarmPercentage)" Id="percentPlantFarm" @bind-value="SugarcaneBalance.PlantFarmPercentage"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Porcentagem Fazenda/Fornecedor" Menu="@Menus.GetMenu(MenuType.CaneBalancePageFarmProviderPercentage)" Id="percentFarmProvider" @bind-value="SugarcaneBalance.FarmProviderPercentage"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 2" Menu="@Menus.GetMenu(MenuType.CaneBalancePageObservations2)" Id="observations2" @bind-value="SugarcaneBalance.Observations2"/>
        </div>
    </div>
</VisitDataSeparator>