@page "/visit-view/{VisitId}"
@using FiscalLabApp.Helpers

<VisitPageSelector
    InitialPage="@_selectedPage"
    Pages="@_pages"
    OnPageChange="OnPageChangeHandler"/>

@if (_selectedPage.Equals(PageHelper.BasicInformationPageName))
{
    <BasicInformationComponent
        BasicInformation="Visit.BasicInformation"
        Menus="@GetMenuOptions(PageType.Main)">
    </BasicInformationComponent>
}
else if (_selectedPage.Equals(PageHelper.SugarcaneBalancePageName))
{
    <SugarcaneBalanceComponent
        SugarcaneBalance="Visit.SugarcaneBalance"
        OnBalanceTestsClick="OnBalanceTestsClickHandler"
        Menus="@GetMenuOptions(PageType.SugarcaneBalance)">
    </SugarcaneBalanceComponent>
}
else if (_selectedPage.Equals(PageHelper.DesintegratorProbePageName))
{
    <DesintegratorProbeComponent
        DesintegratorProbe="Visit.DesintegratorProbe"
        Menus="@GetMenuOptions(PageType.DesintegratorProbe)">
    </DesintegratorProbeComponent>
}
else if (_selectedPage.Equals(PageHelper.AnalyticalBalancePageName))
{
    <AnalyticalBalanceComponent
        AnalyticalBalance="Visit.AnalyticalBalance"
        Menus="@GetMenuOptions(PageType.AnalyticalBalance)">
    </AnalyticalBalanceComponent>
}
else if (_selectedPage.Equals(PageHelper.PressRefractometerPageName))
{
    <PressRefractometerComponent
        PressRefractometer="Visit.PressRefractometer"
        Menus="@GetMenuOptions(PageType.PressRefractometer)">
    </PressRefractometerComponent>
}
else if (_selectedPage.Equals(PageHelper.ClarificationSaccharimeterPageName))
{
    <ClarificationSaccharimeterComponent
        ClarificationSaccharimeter="Visit.ClarificationSaccharimeter"
        Menus="@GetMenuOptions(PageType.ClarificationSaccharimeter)">
    </ClarificationSaccharimeterComponent>
}
else if (_selectedPage.Equals(PageHelper.BenchmarkingEquipmentPageName))
{
    <BenchmarkingEquipmentComponent
        BenchmarkingEquipment="Visit.BenchmarkingEquipment"
        Menus="@GetMenuOptions(PageType.BenchmarkingEquipment)">
    </BenchmarkingEquipmentComponent>
}
else if (_selectedPage.Equals(PageHelper.SystemConsistencyPageName))
{
    <SystemConsistencyComponent
        SystemConsistency="Visit.SystemConsistency"
        Menus="@GetMenuOptions(PageType.SystemConsistency)">
    </SystemConsistencyComponent>
}
else if (_selectedPage.Equals(PageHelper.ConclusionPageName))
{
    <ConclusionComponent
        Conclusion="Visit.Conclusion"
        Images="Visit.Images"
        Menus="@GetMenuOptions(PageType.Conclusion)">
    </ConclusionComponent>
}


<button class="btn btn-success" @onclick="ShowState">Mostrar dados</button>