@page "/analytical-balance"
@implements IDisposable
@using FiscalLabApp.Extensions
@layout EditVisitLayout

@inject IMenuService MenuService

<VisitDataSeparator Title="Balança Analítica">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Peso Homogenio Apos" Menu="@_options.GetMenu(MenuType.AnalyticalBalanceHomogeneousWeight)" Id="homogeneousWeight" @bind-value="Visit.HomogeneousWeight"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Peso Amostra Final" Menu="@_options.GetMenu(MenuType.AnalyticalBalanceFinalWeight)" Id="finalWeight" @bind-value="Visit.FinalWeight"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Balança Aferida" Menu="@_options.GetMenu(MenuType.AnalyticalBalanceCalibratedBalance)" Id="calibratedBalance" @bind-value="Visit.CalibratedBalance"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Balança Nivelada" Menu="@_options.GetMenu(MenuType.AnalyticalBalanceLeveledBalance)" Id="leveledBalance" @bind-value="Visit.LeveledBalance"/>
        </div>
    </div>
    
    <div class="row">
            <div class="col">
                <VisitTextInput Title="Balança Com Certificado de Calibragem" Menu="@_options.GetMenu(MenuType.AnalyticalBalanceCalibrationCertificateBalance)" Id="calibrationCertificateBalance" @bind-value="Visit.CalibrationCertificateBalance"/>
            </div>
        </div>
    
    <div class="row">
            <div class="col">
                <VisitTextInput Title="Observações 5" Menu="@_options.GetMenu(MenuType.AnalyticalBalanceObservations5)" Id="observations5" @bind-value="Visit.Observations5"/>
            </div>
        </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Temperatura Ambiente">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Média temperatura ambiente(20ºC±5)" Menu="@_options.GetMenu(MenuType.AnalyticalBalanceAverageAmbientTemperature)" Id="averageAmbientTemperature" @bind-value="Visit.AverageAmbientTemperature"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 6" Menu="@_options.GetMenu(MenuType.AnalyticalBalanceObservations6)" Id="observations6" @bind-value="Visit.Observations6"/>
        </div>
    </div>
</VisitDataSeparator>

@code {

    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();

    private Menu[] _options = Array.Empty<Menu>();

    public Visit Visit { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetMenuOptions(PageType.SugarcaneScale);

        Visit = Layout.SelectedVisit;
    }

    public void Dispose()
    {
        Layout.SaveChanges();
    }

}