@page "/visits/{VisitId}/benchmarking-equipment"
@implements IDisposable
@implements IAsyncDisposable
@using FiscalLabApp.Extensions
@layout EditVisitLayout

@inject IMenuService MenuService
@inject IVisitService VisitService

<VisitDataSeparator Title="Prensa/Desintegrador/Temperatura">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Célula Carga" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentLoadCell)" Id="benchmarkingEquipmentLoadCell" @bind-value="SelectedVisit.BenchmarkingEquipmentLoadCell"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Termômetro" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentThermometer)" Id="=benchmarkingEquipmentThermometer" @bind-value="SelectedVisit.BenchmarkingEquipmentThermometer"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Tacômetro" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentTachometer)" Id="benchmarkingEquipmentTachometer" @bind-value="SelectedVisit.BenchmarkingEquipmentTachometer"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Paquímetro" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentPachymeter)" Id="benchmarkingEquipmentPachymeter" @bind-value="SelectedVisit.BenchmarkingEquipmentPachymeter"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Pesos Padrões">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="500gm" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipment500Gm)" Id="benchmarkingEquipment500Gm" @bind-value="SelectedVisit.BenchmarkingEquipment500Gm"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="100gm" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipment100Gm)" Id="=cenchmarkingEquipment100Gm" @bind-value="SelectedVisit.BenchmarkingEquipment100Gm"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="1gm" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipment1Gm)" Id="benchmarkingEquipment1Gm" @bind-value="SelectedVisit.BenchmarkingEquipment1Gm"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Linearidade/Repetitividade-Sacarose(PA)">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Teste de Sacarose" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentSucroseTest)" Id="benchmarkingEquipmentSucroseTest" @bind-value="SelectedVisit.BenchmarkingEquipmentSucroseTest"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Refratômetro(Faixa)">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="10º" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentRange10)" Id="benchmarkingEquipmentRange10" @bind-value="SelectedVisit.BenchmarkingEquipmentRange10"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="20º" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentRange20)" Id="=benchmarkingEquipmentRange20" @bind-value="SelectedVisit.BenchmarkingEquipmentRange20"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="30º" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentRange30)" Id="benchmarkingEquipmentRange30" @bind-value="SelectedVisit.BenchmarkingEquipmentRange30"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Sacarímetro(Solução)">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="25ºZ" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentZ25)" Id="benchmarkingEquipmentZ25" @bind-value="SelectedVisit.BenchmarkingEquipmentZ25"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="50ºZ" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentZ50)" Id="=benchmarkingEquipmentZ50" @bind-value="SelectedVisit.BenchmarkingEquipmentZ50"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="75ºZ" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentZ75)" Id="benchmarkingEquipmentZ75" @bind-value="SelectedVisit.BenchmarkingEquipmentZ75"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="100ºZ" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentZ100)" Id="benchmarkingEquipmentZ100" @bind-value="SelectedVisit.BenchmarkingEquipmentZ100"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 11" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentObservations11)" Id="benchmarkingEquipmentObservations11" @bind-value="SelectedVisit.BenchmarkingEquipmentObservations11"/>
        </div>
    </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Moagem">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Previsto Safra" Id="benchmarkingEquipmentExpectedCrop" @bind-value="SelectedVisit.BenchmarkingEquipmentExpectedCrop" ValueUpdated="ExpectedCropChanged"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Realizado" Id="benchmarkingEquipmentAccomplishedCrop" @bind-value="SelectedVisit.BenchmarkingEquipmentAccomplishedCrop" ValueUpdated="ExpectedCropChanged"/>
        </div>
    </div>
    
    <div class="row">
            <div class="col">
                <VisitNumberInput Title="Percentual Realizado" Id="benchmarkingEquipmentPercentageRealized" @bind-value="SelectedVisit.BenchmarkingEquipmentPercentageRealized" Readonly="true"/>
            </div>
        </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Safra Passada" Id="benchmarkingEquipmentPreviousCrop" @bind-value="SelectedVisit.BenchmarkingEquipmentPreviousCrop" ValueUpdated="CalculateCropVariation"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Variação Entre Safras" Id="benchmarkingEquipmentVariationBetweenCrops" @bind-value="SelectedVisit.BenchmarkingEquipmentVariationBetweenCrops" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Resultados Analíticos">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Fibra(Safra Atual)" Id="benchmarkingEquipmentCurrentFiber" @bind-value="SelectedVisit.BenchmarkingEquipmentCurrentFiber" ValueUpdated="CalculateFiberVariation"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Fibra(Safra Anterior)" Id="benchmarkingEquipmentPreviousFiber" @bind-value="SelectedVisit.BenchmarkingEquipmentPreviousFiber" ValueUpdated="CalculateFiberVariation"/>
        </div>
    </div>
    

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Fibra(Variação)" Id="benchmarkingEquipmentFiberVariation" @bind-value="SelectedVisit.BenchmarkingEquipmentFiberVariation" Readonly="true"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="ATR(Safra Atual)" Id="benchmarkingEquipmentCurrentAtr" @bind-value="SelectedVisit.BenchmarkingEquipmentCurrentAtr" ValueUpdated="CalculateAtrVariation"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="ATR(Safra Anterior)" Id="benchmarkingEquipmentPreviousAtr" @bind-value="SelectedVisit.BenchmarkingEquipmentPreviousAtr" ValueUpdated="CalculateAtrVariation"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Fibra(Variação)" Id="benchmarkingEquipmentAtrVariation" @bind-value="SelectedVisit.BenchmarkingEquipmentAtrVariation" Readonly="true"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 12" Menu="@_options.GetMenu(MenuType.BenchmarkingEquipmentObservations12)" Id="benchmarkingEquipmentObservations12" @bind-value="SelectedVisit.BenchmarkingEquipmentObservations12"/>
        </div>
    </div>
</VisitDataSeparator>

@code {

    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();
    
    [Parameter] 
    public string VisitId { get; set; } = string.Empty;

    private Menu[] _options = Array.Empty<Menu>();

    public Visit SelectedVisit { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetMenuOptions(PageType.BenchmarkingEquipment);
    }
    
    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(VisitId))
        {
            SelectedVisit = await VisitService.GetByIdAsync(VisitId);
            Layout.SelectedVisitId = VisitId;
        }
    }
    
    public void ExpectedCropChanged(decimal value)
    {
        CalculateCropPercentageRealized();
    }
    
    private void CalculateCropPercentageRealized()
    {
        if (SelectedVisit.BenchmarkingEquipmentExpectedCrop == 0) return; 
        var value = SelectedVisit.BenchmarkingEquipmentAccomplishedCrop / SelectedVisit.BenchmarkingEquipmentExpectedCrop * 100;
        SelectedVisit.BenchmarkingEquipmentPercentageRealized = decimal.Round(value, 2, MidpointRounding.ToEven);
    }

    private void CalculateCropVariation()
    {
        SelectedVisit.BenchmarkingEquipmentVariationBetweenCrops = SelectedVisit.BenchmarkingEquipmentAccomplishedCrop - SelectedVisit.BenchmarkingEquipmentPreviousCrop;
    }
    
    private void CalculateFiberVariation()
    {
        SelectedVisit.BenchmarkingEquipmentFiberVariation = SelectedVisit.BenchmarkingEquipmentCurrentFiber - SelectedVisit.BenchmarkingEquipmentPreviousFiber;
    }
    
    private void CalculateAtrVariation()
    {
        SelectedVisit.BenchmarkingEquipmentAtrVariation = SelectedVisit.BenchmarkingEquipmentCurrentAtr - SelectedVisit.BenchmarkingEquipmentPreviousAtr;
    }

    public void Dispose()
    {
        VisitService.UpdateAsync(SelectedVisit);
    }
    
    public async ValueTask DisposeAsync()
    {
        await VisitService.UpdateAsync(SelectedVisit);
    }

}