@page "/cane-balance"
@implements IDisposable

@using FiscalLabApp.Extensions
@layout EditVisitLayout

@inject IMenuService MenuService

<VisitDataSeparator Title="Balanças">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Balança de Entrada" Menu="@_options.GetMenu(MenuType.CaneScalePageInScale)" Id="inScale" @bind-value="Visit.InScale"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Balança de Saída" Menu="@_options.GetMenu(MenuType.CaneScalePageOutScale)" Id="outScale" @bind-value="Visit.OutScale"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Sorteio de Cargas" Menu="@_options.GetMenu(MenuType.CaneScalePageCargoDraw)" Id="cargoDraw" @bind-value="Visit.CargoDraw"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações(Teste de Balança)" Menu="@_options.GetMenu(MenuType.CaneScalePageScaleObservations)" Id="scaleObservations" @bind-value="Visit.ScaleObservations"/>
        </div>
    </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Calibragens">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="1ª calibração" Menu="@_options.GetMenu(MenuType.CaneScalePageCalibration1)" Id="calibration1" @bind-value="Visit.Calibration1"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="2ª calibração" Menu="@_options.GetMenu(MenuType.CaneScalePageCalibration2)" Id="calibration2" @bind-value="Visit.Calibration2"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Órgão Responsável" Menu="@_options.GetMenu(MenuType.CaneScalePageResponsibleBody)" Id="responsibleBody" @bind-value="Visit.ResponsibleBody"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Certificado de Calibração" Menu="@_options.GetMenu(MenuType.CaneScalePageCalibrationCertificate)" Id="calibrationCertificate" @bind-value="Visit.CalibrationCertificate"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 1" Menu="@_options.GetMenu(MenuType.CaneScalePageObservations1)" Id="observations1" @bind-value="Visit.Observations1"/>
        </div>
    </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Porcentagens Analisadas">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Porcentagem Usina" Menu="@_options.GetMenu(MenuType.CaneScalePagePlantPercentage)" Id="plant" @bind-value="Visit.PlantPercentage"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Porcentagem Fornecedor" Menu="@_options.GetMenu(MenuType.CaneScalePageProviderPercentage)" Id="provider" @bind-value="Visit.ProviderPercentage"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Porcentagem Usina/Fazenda" Menu="@_options.GetMenu(MenuType.CaneScalePagePlantFarmPercentage)" Id="percentPlantFarm" @bind-value="Visit.PlantFarmPercentage"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Porcentagem Fazenda/Fornecedor" Menu="@_options.GetMenu(MenuType.CaneScalePageFarmProviderPercentage)" Id="percentFarmProvider" @bind-value="Visit.FarmProviderPercentage"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 2" Menu="@_options.GetMenu(MenuType.CaneScalePageObservations2)" Id="observations2" @bind-value="Visit.Observations2"/>
        </div>
    </div>
</VisitDataSeparator>


@code {

    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();

    private Menu[] _options = Array.Empty<Menu>();

    public Visit Visit { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetMenuOptions(PageType.SugarcaneScale);

        Visit = Layout.SelectedVisit;
    }

    public void Dispose()
    {
        Layout.SaveChanges();
    }

}