@page "/clarification-saccharimeter"
@implements IDisposable
@using FiscalLabApp.Extensions
@layout EditVisitLayout

@inject IMenuService MenuService

<VisitDataSeparator Title="Clarificação">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Frasco" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterBottle)" Id="clarificationSaccharimeterBottle" @bind-value="Visit.ClarificationSaccharimeterBottle"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Agitação" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterAgitation)" Id="clarificationSaccharimeterAgitation" @bind-value="Visit.ClarificationSaccharimeterAgitation"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Houve Diluição" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterHasDilution)" Id="clarificationSaccharimeterHasDilution" @bind-value="Visit.ClarificationSaccharimeterHasDilution"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Clarificante" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterClarifier)" Id="clarificationSaccharimeterClarifier" @bind-value="Visit.ClarificationSaccharimeterClarifier"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Pressão" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterPressure)" Id="clarificationSaccharimeterPressure" @bind-value="Visit.ClarificationSaccharimeterPressure"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Quatidade Clarificante(200ml)" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterClarifierAmount)" Id="clarificationSaccharimeterClarifierAmount" @bind-value="Visit.ClarificationSaccharimeterClarifierAmount"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Volume Clarificado" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterBottleClarifiedVolume)" Id="clarificationSaccharimeterBottleClarifiedVolume" @bind-value="Visit.ClarificationSaccharimeterBottleClarifiedVolume"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="100ml Após Volume Clarificado" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterBottleAfterClarifiedVolume)" Id="clarificationSaccharimeterBottleAfterClarifiedVolume" @bind-value="Visit.ClarificationSaccharimeterBottleAfterClarifiedVolume"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 9" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterObservations9)" Id="clarificationSaccharimeterObservations9" @bind-value="Visit.ClarificationSaccharimeterObservations9"/>
        </div>
    </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Sacarímetro">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Estababilização" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterStabilization)" Id="clarificationSaccharimeterStabilization" @bind-value="Visit.ClarificationSaccharimeterStabilization"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Aferição" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterBenchmarking)" Id="clarificationSaccharimeterBenchmarking" @bind-value="Visit.ClarificationSaccharimeterBenchmarking"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Padrão Quartzo" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterQuartzPattern)" Id="clarificationSaccharimeterQuartzPattern" @bind-value="Visit.ClarificationSaccharimeterQuartzPattern"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Resultado Quartzo" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterQuartzResult)" Id="clarificationSaccharimeterQuartzResult" @bind-value="Visit.ClarificationSaccharimeterQuartzResult"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Leitura do Quartzo" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterQuartzReading)" Id="clarificationSaccharimeterQuartzReading" @bind-value="Visit.ClarificationSaccharimeterQuartzReading"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Certificado Calibração" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterCalibrationCertificate)" Id="clarificationSaccharimeterCalibrationCertificate" @bind-value="Visit.ClarificationSaccharimeterCalibrationCertificate"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Limpeza Tubo" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterTubeCleaning)" Id="clarificationSaccharimeterTubeCleaning" @bind-value="Visit.ClarificationSaccharimeterTubeCleaning"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Cooler de Resfriamento Limpo" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterClearCollingCooler)" Id="clarificationSaccharimeterClearCollingCooler" @bind-value="Visit.ClarificationSaccharimeterClearCollingCooler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 10" Menu="@_options.GetMenu(MenuType.ClarificationSaccharimeterObservations10)" Id="clarificationSaccharimeterObservations10" @bind-value="Visit.ClarificationSaccharimeterObservations10"/>
        </div>
    </div>
</VisitDataSeparator>

@code {

    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();

    private Menu[] _options = Array.Empty<Menu>();

    public Visit Visit { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetMenuOptions(PageType.SugarcaneScale);
        Visit = Layout.SelectedVisit;
    }

    public void Dispose()
    {
        Layout.SaveChanges();
    }
}