@page "/desintegrator-probe"
@implements IDisposable
@using FiscalLabApp.Extensions
@layout EditVisitLayout

@inject IMenuService MenuService

<VisitDataSeparator Title="Sonda">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Tipo de Sonda" Option="@_options.GetOption(MenuType.DesintegratorProbePageProbeTYpe)" Id="probeTYpe" @bind-value="Visit.ProbeTYpe"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Tubo Introduzido Totalmente" Option="@_options.GetOption(MenuType.DesintegratorProbePageTubeInserted)" Id="tubeInserted" @bind-value="Visit.TubeInserted"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Descarrega Tubo Apos" Option="@_options.GetOption(MenuType.DesintegratorProbePageTubeDischarged)" Id="tubeDischarged" @bind-value="Visit.TubeDischarged"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Coleta" Option="@_options.GetOption(MenuType.DesintegratorProbePageCollect)" Id="collect" @bind-value="Visit.Collect"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Quantidade Amostra" Option="@_options.GetOption(MenuType.DesintegratorProbePageSampleAmount)" Id="sampleAmount" @bind-value="Visit.SampleAmount"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Extração  do Caldo" Option="@_options.GetOption(MenuType.DesintegratorProbePageBrothExtraction)" Id="brothExtraction" @bind-value="Visit.BrothExtraction"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Posição da Carga" Option="@_options.GetOption(MenuType.DesintegratorProbePageLoadPosition)" Id="loadPosition" @bind-value="Visit.LoadPosition"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Coroa Dentada" Option="@_options.GetOption(MenuType.DesintegratorProbePageToothedCrown)" Id="toothedCrown" @bind-value="Visit.ToothedCrown"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Tipo Coroa" Option="@_options.GetOption(MenuType.DesintegratorProbePageToothedCrownType)" Id="toothedCrownType" @bind-value="Visit.ToothedCrownType"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Ultima Troca/Fiação da Coroa" Option="@_options.GetOption(MenuType.DesintegratorProbePageLastCrownChange)" Id="lastCrownChange" @bind-value="Visit.LastCrownChange"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 3" Option="@_options.GetOption(MenuType.DesintegratorProbePageObservations3)" Id="observations3" @bind-value="Visit.Observations3"/>
        </div>
    </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Desintegrador">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Amostra Homogenia" Option="@_options.GetOption(MenuType.DesintegratorProbePageHomogeneousSamples)" Id="homogeneousSamples" @bind-value="Visit.HomogeneousSamples"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Conservação Facas" Option="@_options.GetOption(MenuType.DesintegratorProbePageKnifeConservation)" Id="knifeConservation" @bind-value="Visit.KnifeConservation"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Conservação Contra-Faca" Option="@_options.GetOption(MenuType.DesintegratorProbePageAgainstKnifeConservation)" Id="againstKnifeConservation" @bind-value="Visit.AgainstKnifeConservation"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Distância Faca/Contra-Faca" Option="@_options.GetOption(MenuType.DesintegratorProbePageKnifeAgainstKnifeDistance)" Id="knifeAgainstKnifeDistance" @bind-value="Visit.KnifeAgainstKnifeDistance"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Conservação Martelos" Option="@_options.GetOption(MenuType.DesintegratorProbePageHammerConservation)" Id="hammerConservation" @bind-value="Visit.HammerConservation"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Betoneira Limpa a Cada" Option="@_options.GetOption(MenuType.DesintegratorProbePageCleanMixer)" Id="cleanMixer" @bind-value="Visit.CleanMixer"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="RPM do Desintegrador" Option="@_options.GetOption(MenuType.DesintegratorProbePageDesintegratorRpm)" Id="desintegratorRpm" @bind-value="Visit.DesintegratorRpm"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Índice de Preparo" Option="@_options.GetOption(MenuType.DesintegratorProbePagePreparationIndex)" Id="preparationIndex" @bind-value="Visit.PreparationIndex"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Ultima Troca Navalha" Option="@_options.GetOption(MenuType.DesintegratorProbePageLastRazorChange)" Id="lastRazorChange" @bind-value="Visit.LastRazorChange"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Ultima Troca Martelo" Option="@_options.GetOption(MenuType.DesintegratorProbePageLastHammerChange)" Id="lastHammerChange" @bind-value="Visit.LastHammerChange"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Ultima Troca Contra-Faca" Option="@_options.GetOption(MenuType.DesintegratorProbePageLastAgainstKnifeChange)" Id="lastAgainstKnifeChange" @bind-value="Visit.LastAgainstKnifeChange"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 4" Option="@_options.GetOption(MenuType.DesintegratorProbePageObservations4)" Id="observations4" @bind-value="Visit.Observations4"/>
        </div>
    </div>
</VisitDataSeparator>

@code {

    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();

    private MenuOption[] _options = Array.Empty<MenuOption>();

    public Visit Visit { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetMenuOptions(PageType.SugarcaneScale);

        if (Layout.SelectedVisit is not null)
        {
            Visit = Layout.SelectedVisit;
        }
    }

    public void Dispose()
    {
        Layout.SaveChanges();
    }

}