@page "/visits/{visitId}/desintegrator-probe"
@implements IDisposable
@implements IAsyncDisposable
@using FiscalLabApp.Extensions
@using FiscalLabApp.Helpers
@using FiscalLabApp.Services
@layout EditVisitLayout
@inject IMenuService MenuService
@inject SelectedPageEventNotifier SelectedPageEventNotifier

<VisitDataSeparator Title="Sonda">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Tipo de Sonda" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageProbeType)" Id="probeTYpe" @bind-value="DesintegratorProbe.ProbeType"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Tubo Introduzido Totalmente" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageTubeInserted)" Id="tubeInserted" @bind-value="DesintegratorProbe.TubeInserted"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Descarrega Tubo Apos" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageTubeDischarged)" Id="tubeDischarged" @bind-value="DesintegratorProbe.TubeDischarged"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Coleta" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageCollect)" Id="collect" @bind-value="DesintegratorProbe.Collect"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Quantidade Amostra" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageSampleAmount)" Id="sampleAmount" @bind-value="DesintegratorProbe.SampleAmount"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Extração  do Caldo" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageBrothExtraction)" Id="brothExtraction" @bind-value="DesintegratorProbe.BrothExtraction"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Posição da Carga" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageLoadPosition)" Id="loadPosition" @bind-value="DesintegratorProbe.LoadPosition"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Coroa Dentada" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageToothedCrown)" Id="toothedCrown" @bind-value="DesintegratorProbe.ToothedCrown"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Tipo Coroa" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageToothedCrownType)" Id="toothedCrownType" @bind-value="DesintegratorProbe.ToothedCrownType"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 3" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageObservations3)" Id="observations3" @bind-value="DesintegratorProbe.Observations3"/>
        </div>
    </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Desintegrador">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Amostra Homogenia" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageHomogeneousSamples)" Id="homogeneousSamples" @bind-value="DesintegratorProbe.HomogeneousSamples"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Conservação Facas" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageKnifeConservation)" Id="knifeConservation" @bind-value="DesintegratorProbe.KnifeConservation"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Conservação Contra-Faca" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageAgainstKnifeConservation)" Id="againstKnifeConservation" @bind-value="DesintegratorProbe.AgainstKnifeConservation"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Distância Faca/Contra-Faca" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageKnifeAgainstKnifeDistance)" Id="knifeAgainstKnifeDistance" @bind-value="DesintegratorProbe.KnifeAgainstKnifeDistance"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Conservação Martelos" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageHammerConservation)" Id="hammerConservation" @bind-value="DesintegratorProbe.HammerConservation"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Betoneira Limpa a Cada" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageCleanMixer)" Id="cleanMixer" @bind-value="DesintegratorProbe.CleanMixer"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="RPM do Desintegrador" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageDesintegratorRpm)" Id="desintegratorRpm" @bind-value="DesintegratorProbe.DesintegratorRpm"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Índice de Preparo" Menu="@_options.GetMenu(MenuType.DesintegratorProbePagePreparationIndex)" Id="preparationIndex" @bind-value="DesintegratorProbe.PreparationIndex"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitDateInput Title="Afiação/troca facas" Id="sharpenedOrReplacedKnifeAt" @bind-value="DesintegratorProbe.SharpenedOrReplacedKnifeAt"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 4" Menu="@_options.GetMenu(MenuType.DesintegratorProbePageObservations4)" Id="observations4" @bind-value="DesintegratorProbe.Observations4"/>
        </div>
    </div>
</VisitDataSeparator>

@code {

    [CascadingParameter] public EditVisitLayout Layout { get; set; } = new();
    [Parameter] public string? VisitId { get; set; }
    public DesintegratorProbeViewModel DesintegratorProbe { get; set; } = new();

    private Menu[] _options = Array.Empty<Menu>();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetMenuOptions(PageType.DesintegratorProbe);
    }
    
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (VisitId is null) return;
        DesintegratorProbe = (await Layout.SyncVisit(VisitId)).DesintegratorProbe;
        SelectedPageEventNotifier.Notify(PageHelper.DesintegratorProbePageName);
    }

    public void Dispose()
    {
        UpdateVisit();
    }

    public async ValueTask DisposeAsync()
    {
        await UpdateVisit();
    }

    private async Task UpdateVisit()
    {
        if (DesintegratorProbe.SharpenedOrReplacedKnifeAt.HasValue)
        {
            DesintegratorProbe.SharpenedOrReplacedKnifeAt = DesintegratorProbe.SharpenedOrReplacedKnifeAt.Value.ToUniversalTime();
        }
        
        await Layout.UpdateVisitAsync();
    }
}