@page "/"
@page "/visits"

@using FiscalLabApp.Enums

<PageTitle>Visitas</PageTitle>

<div>
    <div class="d-flex justify-content-end fixed-bottom mb-4 me-3">
        <button class="btn rounded-pill btn-lg fw-bolder shadow ps-3 pe-3" @onclick="NewVisit" style="background-color: #467b56; color: #ffffff;">
            Nova Visita
        </button>
    </div>

    <div class="btn-group d-flex mb-3">
        <HomeTabButton Title="Em andamento" Type="HomeTabType.InProgress" IsChecked="@(HomeTabType == HomeTabType.InProgress)" OnTabSelected="@OnHomeTabButtonClicked"></HomeTabButton>
        <HomeTabButton Title="Finalizadas" Type="HomeTabType.Done" IsChecked="@(HomeTabType == HomeTabType.Done)" OnTabSelected="@OnHomeTabButtonClicked"></HomeTabButton>
        <HomeTabButton Title="Configurações" Type="HomeTabType.Settings" IsChecked="@(HomeTabType == HomeTabType.Settings)" OnTabSelected="@OnHomeTabButtonClicked"></HomeTabButton>
    </div>

    @switch (HomeTabType)
    {
        case HomeTabType.InProgress:
            <InProgressVisits />
            break;
        case HomeTabType.Done:
            <DoneVisits />
            break;
        case HomeTabType.Settings:
            <Settings />
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
</div>
