@page "/"
@page "/visits"
@using FiscalLabApp.Services
@using Mapster
@using FiscalLabApp.Helpers


@inject IVisitService VisitService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IToastService ToastService
@inject ApplicationContextAccessor ApplicationContextAccessor
@inject SelectedVisitEvent SelectedVisitEvent
@inject IApiService ApiService
@inject SyncService SyncService

<PageTitle>Visitas</PageTitle>
<ModalDialog @ref="@ModalDialog" Title="PDF Visíta Analítica">
    <button @onclick="SalvarPdf">Salvar PDF</button>
    <div id="pdfViewer" style="width: 60%; height: 100%;"></div>
</ModalDialog>

<div class="mb-5">
    <div class="d-flex justify-content-end fixed-bottom mb-4 me-3">
        <button class="btn rounded-pill btn-lg fw-bolder shadow ps-3 pe-3" @onclick="NewVisit" style="background-color: #467b56; color: #ffffff;">
            Nova Visita
        </button>
    </div>
    @foreach (var visit in _visits)
    {
        <div class="card mb-3 rounded shadow p-2"
             style="@GetBorderStyle(visit)">

            <div class="d-flex flex-column justify-content-start">
                <div class="d-flex flex-row justify-content-end mb-2">
                    <span class="badge " style="@GetBadgeStyle(visit.GetMetadata().PendingItems)">
                        @($"Pendências: {visit.GetMetadata().PendingItems}")
                    </span>
                </div>

                <small class="text-muted fw-bold"> @($"{visit.BasicInformation.Plant?.Name} ({visit.BasicInformation.Plant?.Address.City} - {visit.BasicInformation.Plant?.Address.State})")</small>
                <small class="text-muted fw-bolder"> @($"{visit.BasicInformation.Association?.Name} ({visit.BasicInformation.Association?.Address.City} - {visit.BasicInformation.Association?.Address.State})")</small>

                <small class="text-muted fw-semibold" style="font-size: 0.700em;">@($"Criado em: {visit.CreatedAt.ToLocalTime():dd/MM/yyyy HH:mm:ss}")</small>
                @if (visit.SyncedAt.HasValue)
                {
                    <small class="text-muted fw-semibold" style="font-size: 0.700em;">@($"Sincronizado em: {visit.SyncedAt.Value.ToLocalTime():dd/MM/yyyy HH:mm:ss}")</small>
                }
                else
                {
                    <small class="text-muted fw-semibold" style="font-size: 0.700em;">@("Sincronizado em: -")</small>
                }

                <div class="form-check">
                    <InputCheckbox class="form-check-input" type="checkbox" @bind-Value="visit.NotifyByEmail" id="flexCheckDefault" @oninput="() => OnFinishedClicked(visit)"/>
                    <small class="text-muted fw-semibold" style="font-size: 0.800em;"> Enviar por e-mail</small>
                </div>
            </div>

            <div class="mt-2 d-flex flex-row p-0">
                <button class="btn card" type="button" @onclick="() => EditVisit(visit)">
                    <EditIcon/>
                </button>
                <button class="btn card ms-2" type="button" @onclick="() => GetPdf(visit.Id)">
                    <PdfIcon/>
                </button>
            </div>

        </div>
    }
</div>


@code {
    private VisitViewModel[] _visits = [];
    private ModalDialog ModalDialog { get; set; } = null!;
    public string PdfContent { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var visits = await VisitService.GetAllAsync();
        _visits = visits.OrderByDescending(x => x.CreatedAt).Adapt<VisitViewModel[]>();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender) return;

        if (await SyncService.NeedSync() && ApplicationContextAccessor.IsOnline())
        {
            ToastService.ShowWarning(MessageHelper.UnSynchronizedData);
        }
    }

    private void NewVisit()
    {
        NavigationManager.NavigateTo("/new-visit");
    }

    private void EditVisit(VisitViewModel visit)
    {
        SelectedVisitEvent.NotifySelectedVisit(visit);
        SelectedVisitEvent.SelectedVisitModel = visit;
        NavigationManager.NavigateTo($"/visits/{visit.Id}/main");
    }

    private async Task OnFinishedClicked(VisitViewModel visitViewModel)
    {
        var visit = await VisitService.GetByIdAsync(visitViewModel.Id);

        visit.NotifyByEmail = visitViewModel.NotifyByEmail;
        visit.FinishedAt = visitViewModel.NotifyByEmail ? DateTime.UtcNow : null;
        await VisitService.UpdateAsync(visit);
    }

    private async Task GetPdf(string visitId)
    {
        var visit = await VisitService.GetByIdAsync(visitId);
        if (visit.SyncedAt is null)
        {
            ToastService.ShowError("Visita ainda nao foi sincronizada.");
            return;
        }

        var bytes = await ApiService.GenerateVisitPdf(visit.Id);
        PdfContent = Convert.ToBase64String(bytes);
        
        await JsRuntime.InvokeVoidAsync("loadPdfFromBase64", PdfContent, "pdfViewer");
        
        ModalDialog.Open();
    }
    
    private async Task SalvarPdf()
    {
        await JsRuntime.InvokeVoidAsync("savePdfFromBase64", PdfContent);
    }

    [JSInvokable("ShowPdfModal")]
    public void ShowPdfModal()
    {
        ModalDialog.Open();
    }

    [JSInvokable]
    public Task SyncCompleted(string message)
    {
        Console.WriteLine($"sync completed: {message}");
        StateHasChanged();
        return Task.CompletedTask;
    }

    private static string GetBorderStyle(VisitViewModel viewModel)
    {
        return viewModel.SyncedAt is null
            ? "border-left: 0.750rem solid indianred;border-right: 0;border-top: 0;border-bottom: 0; background-color: #ffffff;"
            : "border-left: 0.750rem solid #467b56;border-right: 0;border-top: 0;border-bottom: 0; background-color: #ffffff;";
    }

    private static string GetBadgeStyle(int totalPendingItems)
    {
        return totalPendingItems == 0 ? "background-color: #467b56;" : "background-color: indianred;";
    }

}