@page "/main-visit"
@page "/main-visit/{VisitId}"
@using FiscalLabApp.Extensions
@implements IDisposable

@layout EditVisitLayout
@inject IMenuService MenuService
@inject IVisitService VisitService
@inject IPlantRepository PlantRepository

<VisitDataSeparator Title="Dados Básicos">

    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <InputSelect @bind-Value="_selectedPlantId" class="form-control" id="plantInput">
                    <option value="" selected hidden>Selecione uma usina..</option>
                    @foreach (var plant in _plants)
                    {
                        if (Layout.SelectedVisit!.Plant.Id.Equals(plant.Id))
                        {
                            <option value="@plant.Id" selected>@plant.Name</option>
                        }
                        else
                        {
                            <option value="@plant.Id">@plant.Name</option>
                        }
                    }
                </InputSelect>
                <label for="plantInput">Usina</label>
            </div >

        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <input class="form-control" id="createdAtDateInput" type="date" @bind-value="Visit.VisitDate"/>
                <label for="createdAtDateInput">Data</label>
            </div >

        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <input class="form-control" id="createdAtTimeInput" type="time" @bind-value="Visit.VisitTime"/>
                <label for="createdAtTimeInput">Hora</label>
            </div >
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Consultor" Option="@_options.GetOption(MenuType.MainPageConsultant)" Id="consultantInput" @bind-value="Visit.Consultant"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Associação/Fornecedor" Option="@_options.GetOption(MenuType.MainPageAssociation)" Id="associationInput" @bind-value="Visit.Association"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Fiscal de Turno" Option="@_options.GetOption(MenuType.MainPageInspector)" Id="inspectorInput" @bind-value="Visit.Inspector"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Líder de Turno" Option="@_options.GetOption(MenuType.MainPageLeader)" Id="leaderInput" @bind-value="Visit.Leader"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Encarregado(a) Laboratório de Sacarose" Option="@_options.GetOption(MenuType.MainPageLaboratoryLeader)" Id="laboratoryLeaderInput" @bind-value="Visit.LaboratoryLeader"/>
        </div>
    </div>
</VisitDataSeparator>


@code {

    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();

    [Parameter]
    public string VisitId { get; set; } = string.Empty;

    public Visit Visit { get; set; } = new();
    public PlantModel SelectedPlant { get; set; } = new();

    private MenuOption[] _options = Array.Empty<MenuOption>();
    private string _selectedPlantId = string.Empty;
    private List<PlantModel> _plants = new();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetOptions(PageType.Main);

        Layout.SelectedVisit ??= await VisitService.GetByIdAsync(VisitId);
        Visit = Layout.SelectedVisit;
        _plants = await PlantRepository.GetAllAsync();
    }

    public void Dispose()
    {
        if (Layout.SelectedVisit is not null && !string.IsNullOrWhiteSpace(_selectedPlantId))
        {
            Layout.SelectedVisit.Plant = _plants.Single(p => p.Id.Equals(_selectedPlantId));
        }

        Layout.SaveChanges();
    }

}