@page "/visits/{visitId}/press-refractometer"
@implements IDisposable
@implements IAsyncDisposable
@using FiscalLabApp.Extensions
@using FiscalLabApp.Helpers
@using FiscalLabApp.Services
@layout EditVisitLayout
@inject IMenuService MenuService
@inject SelectedPageEventNotifier SelectedPageEventNotifier

<VisitDataSeparator Title="Prensa">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Manômetro com cert. calibragem" Menu="@_options.GetMenu(MenuType.PressRefractometerPressureGaugeCertificated)" Id="pressureGaugeCertificated" @bind-value="PressRefractometer.PressureGaugeCertificated"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Uso do Copo Descarte" Menu="@_options.GetMenu(MenuType.PressRefractometerDiscardCup)" Id="discardCup" @bind-value="PressRefractometer.DiscardCup"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Frasco Coletor" Menu="@_options.GetMenu(MenuType.PressRefractometerCollectorBottle)" Id="pressRefractometerCollectorBottle" @bind-value="PressRefractometer.CollectorBottle"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Pressão" Menu="@_options.GetMenu(MenuType.PressRefractometerPressure)" Id="pressRefractometerPressure" @bind-value="PressRefractometer.Pressure"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Temporizador" Menu="@_options.GetMenu(MenuType.PressRefractometerTimer)" Id="pressRefractometerTimer" @bind-value="PressRefractometer.Timer"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Limpeza da Prensa" Menu="@_options.GetMenu(MenuType.PressRefractometerPressCleaning)" Id="pressRefractometerPressCleaning" @bind-value="PressRefractometer.PressCleaning"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 7" Menu="@_options.GetMenu(MenuType.PressRefractometerObservations7)" Id="observations7" @bind-value="PressRefractometer.Observations7"/>
        </div>
    </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Refratômetro">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Hômogênização do Caldo" Menu="@_options.GetMenu(MenuType.PressRefractometerBrothHomogenization)" Id="pressRefractometerBrothHomogenization" @bind-value="PressRefractometer.BrothHomogenization"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Certificado calibragem" Menu="@_options.GetMenu(MenuType.PressRefractometerRefractometerCalibrationCertificate)" Id="refractometerCalibrationCertificate" @bind-value="PressRefractometer.RefractometerCalibrationCertificate"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Precisão Leitura" Menu="@_options.GetMenu(MenuType.PressRefractometerPrecisionReading)" Id="precisionReading" @bind-value="PressRefractometer.PrecisionReading"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Aferição" Menu="@_options.GetMenu(MenuType.PressRefractometerRefractometerBenchmarking)" Id="refractometerBenchmarking" @bind-value="PressRefractometer.RefractometerBenchmarking"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Limpeza" Menu="@_options.GetMenu(MenuType.PressRefractometerRefractometerCleaning)" Id="refractometerCleaning" @bind-value="PressRefractometer.RefractometerCleaning"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Temperatura Interna" Menu="@_options.GetMenu(MenuType.PressRefractometerInternalTemperature)" Id="internalTemperature" @bind-value="PressRefractometer.InternalTemperature"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 8" Menu="@_options.GetMenu(MenuType.PressRefractometerObservations8)" Id="observations8" @bind-value="PressRefractometer.Observations8"/>
        </div>
    </div>
</VisitDataSeparator>

@code {

    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();
    [Parameter] public string? VisitId { get; set; }
    private Menu[] _options = Array.Empty<Menu>();
    
    public PressRefractometerViewModel PressRefractometer { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetMenuOptions(PageType.PressRefractometer);
    }
    
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (VisitId is null) return;
        PressRefractometer = (await Layout.SyncVisit(VisitId)).PressRefractometer;
        SelectedPageEventNotifier.Notify(PageHelper.PressRefractometerPageName);
    }
    
    public void Dispose()
    {
        UpdateVisit();
    }
    
    public async ValueTask DisposeAsync()
    {
        await UpdateVisit();
    }

    private async Task UpdateVisit()
    {
        await Layout.UpdateVisitAsync();
    }
}