@page "/visits/{VisitId}/SystemConsistency"
@implements IDisposable
@implements IAsyncDisposable
@using FiscalLabApp.Enums
@using FiscalLabApp.Extensions
@using Mapster
@layout EditVisitLayout

@inject IMenuService MenuService
@inject IVisitService VisitService

<VisitDataSeparator Title="Amostra">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="O.C" Id="pressureGaugeCertificated" Menu="@_options.GetMenu(MenuType.SystemConsistencyOc)" @bind-value="SelectedSystemConsistency.Oc"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Fazenda" Id="systemConsistencyFarm" Menu="@_options.GetMenu(MenuType.SystemConsistencyFarm)" @bind-value="SelectedSystemConsistency.Farm"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Propietário" Id="systemConsistencyOwner" Menu="@_options.GetMenu(MenuType.SystemConsistencyOwner)" @bind-value="SelectedSystemConsistency.Owner"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações" Id="systemConsistencyObservations" Menu="@_options.GetMenu(MenuType.SystemConsistencyObservations)" @bind-value="SelectedSystemConsistency.Observations"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Dados Para Cálculo ATR">
    <div class="row">
        <div class="col">
            <InputSelect @bind-Value="SelectedSystemConsistency.Clarifier" class="form-select form-select-lg mb-3" @oninput="OnClarifierSelected">
                @foreach (var clarify in Enum.GetValues(typeof(Clarify)))
                {
                    <option value="@clarify">@clarify</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Pbu" Id="benchmarkingEquipmentExpectedCrop" @bind-value="SelectedSystemConsistency.PlantSugarcaneAnalysis.Pbu" ValueUpdated="CalculateAtr"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Brix" Id="benchmarkingEquipmentAccomplishedCrop" @bind-value="SelectedSystemConsistency.PlantSugarcaneAnalysis.Brix" ValueUpdated="CalculateAtr"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Leitura Sacarimétrica" Id="benchmarkingEquipmentPreviousCrop" @bind-value="SelectedSystemConsistency.PlantSugarcaneAnalysis.Ls" ValueUpdated="CalculateAtr"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Resultados Atr">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="cystemConsistencyPlantAtr" @bind-value="SelectedSystemConsistency.PlantSugarcaneAnalysis.Atr" Readonly="true" ValueUpdated="CalculateAtrDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaAtr" @bind-value="SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Atr" ValueUpdated="CalculateAtrDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Variação" Id="systemConsistencyDifferenceAtr" @bind-value="SelectedSystemConsistency.DifferenceAtr" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Resultados Pureza">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="cystemConsistencyPlantPurity" @bind-value="SelectedSystemConsistency.PlantSugarcaneAnalysis.Purity" Readonly="true" ValueUpdated="CalculatePurityDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaPurity" @bind-value="SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Purity" ValueUpdated="CalculatePurityDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Variação" Id="systemConsistencyDifferencePurity" @bind-value="SelectedSystemConsistency.DifferencePurity" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Resultados Pol">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="cystemConsistencyPlantPol" @bind-value="SelectedSystemConsistency.PlantSugarcaneAnalysis.Pol" Readonly="true" ValueUpdated="CalculatePolDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaPol" @bind-value="SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Pol" ValueUpdated="CalculatePolDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Variação" Id="systemConsistencyDifferencePol" @bind-value="SelectedSystemConsistency.DifferencePol" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Resultados Fibra">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="cystemConsistencyPlantFiber" @bind-value="SelectedSystemConsistency.PlantSugarcaneAnalysis.Fiber" Readonly="true" ValueUpdated="CalculateFiberDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaFiber" @bind-value="SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Fiber" ValueUpdated="CalculateFiberDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Variação" Id="systemConsistencyDifferenceFiber" @bind-value="SelectedSystemConsistency.DifferenceFiber" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Resultados Pcc">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="systemConsistencyPlantPcc" @bind-value="SelectedSystemConsistency.PlantSugarcaneAnalysis.Pcc" Readonly="true" ValueUpdated="CalculatePccDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaPcc" @bind-value="SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Pcc" ValueUpdated="CalculatePccDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Pcc()" Id="systemConsistencyDifferencePcc" @bind-value="SelectedSystemConsistency.DifferencePcc" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Resultados Ar">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="cystemConsistencyPlantAr" @bind-value="SelectedSystemConsistency.PlantSugarcaneAnalysis.Ar" Readonly="true" ValueUpdated="CalculateArDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaAr" @bind-value="SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Ar" ValueUpdated="CalculateArDifference"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Variação" Id="systemConsistencyDifferenceAr" @bind-value="SelectedSystemConsistency.DifferenceAr" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>

@code {

    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();
    
    [Parameter] 
    public string VisitId { get; set; } = string.Empty;

    private Menu[] _options = Array.Empty<Menu>();

    private Visit SelectedVisit { get; set; } = new();
    public SystemConsistencyViewModel SelectedSystemConsistency { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetMenuOptions(PageType.SystemConsistency);
    }
    
    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(VisitId))
        {
            SelectedVisit = await VisitService.GetByIdAsync(VisitId);
            Layout.SelectedVisitId = VisitId;
            SelectedSystemConsistency = SelectedVisit.SystemConsistency.Adapt<SystemConsistencyViewModel>();
        }
    }
    
    public void Dispose()
    {
        UpdateVisit();
    }
    
    public async ValueTask DisposeAsync()
    {
        await UpdateVisit();
    }

    private async Task UpdateVisit()
    {
        SelectedVisit.SystemConsistency = SelectedSystemConsistency.Adapt<SystemConsistency>();
        await VisitService.UpdateAsync(SelectedVisit);
    }

    private void OnClarifierSelected(ChangeEventArgs e)
    {
        if (e.Value is null) return;
        
        if (!Enum.TryParse<Clarify>(e.Value.ToString(), out var clarify)) return;
        SelectedSystemConsistency.Clarifier = clarify;
        CalculateAtr();
        CalculateAtrDifference();
        CalculatePurityDifference();
        CalculatePolDifference();
        CalculateFiberDifference();
        CalculatePccDifference();
        CalculateArDifference();
    }

    private void CalculateAtr()
    {
        if (SelectedSystemConsistency.Clarifier is null ||
            SelectedSystemConsistency.PlantSugarcaneAnalysis.Pbu == 0 ||
            SelectedSystemConsistency.PlantSugarcaneAnalysis.Brix == 0 ||
            SelectedSystemConsistency.PlantSugarcaneAnalysis.Ls == 0) return;
            
        var sugarcaneAnalysis = new SugarcaneAnalysisViewModel(
            SelectedSystemConsistency.Clarifier.Value,
            SelectedSystemConsistency.PlantSugarcaneAnalysis.Pbu,
            SelectedSystemConsistency.PlantSugarcaneAnalysis.Brix,
            SelectedSystemConsistency.PlantSugarcaneAnalysis.Ls);
        
        SelectedSystemConsistency.PlantSugarcaneAnalysis.Atr = sugarcaneAnalysis.Atr.RoundToEven(3);
        SelectedSystemConsistency.PlantSugarcaneAnalysis.Purity = sugarcaneAnalysis.Purity.RoundToEven(3);
        SelectedSystemConsistency.PlantSugarcaneAnalysis.Pol = sugarcaneAnalysis.Pol.RoundToEven(3);
        SelectedSystemConsistency.PlantSugarcaneAnalysis.Fiber = sugarcaneAnalysis.Fiber.RoundToEven(3);
        SelectedSystemConsistency.PlantSugarcaneAnalysis.Pcc = sugarcaneAnalysis.Pcc.RoundToEven(3);
        SelectedSystemConsistency.PlantSugarcaneAnalysis.Ar = sugarcaneAnalysis.Ar.RoundToEven(3);
    }
    
    private void CalculateAtrDifference()
    {
        SelectedSystemConsistency.DifferenceAtr = SelectedSystemConsistency.PlantSugarcaneAnalysis.Atr - SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Atr;
    }
    
    private void CalculatePurityDifference()
    {
        SelectedSystemConsistency.DifferencePurity = SelectedSystemConsistency.PlantSugarcaneAnalysis.Purity - SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Purity;
    }
    
    private void CalculatePolDifference()
    {
        SelectedSystemConsistency.DifferencePol = SelectedSystemConsistency.PlantSugarcaneAnalysis.Pol - SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Pol;
    }
    
    private void CalculateFiberDifference()
    {
        SelectedSystemConsistency.DifferenceFiber = SelectedSystemConsistency.PlantSugarcaneAnalysis.Fiber - SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Fiber;
    }
    
    private void CalculatePccDifference()
    {
        SelectedSystemConsistency.DifferencePcc = SelectedSystemConsistency.PlantSugarcaneAnalysis.Pcc - SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Pcc;
    }
    
    private void CalculateArDifference()
    {
        SelectedSystemConsistency.DifferenceAr = SelectedSystemConsistency.PlantSugarcaneAnalysis.Ar - SelectedSystemConsistency.ConsecanaSugarcaneAnalysis.Ar;
    }

}