@page "/visits/{VisitId}/system-consistency"
@implements IDisposable
@implements IAsyncDisposable
@using FiscalLabApp.Enums
@using FiscalLabApp.Extensions
@layout EditVisitLayout

@inject IMenuService MenuService
@inject IVisitService VisitService

<VisitDataSeparator Title="Amostra">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="O.C" Id="pressureGaugeCertificated" Menu="@_options.GetMenu(MenuType.SystemConsistencyOc)" @bind-value="SelectedVisit.SystemConsistencyOc"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Fazenda" Id="systemConsistencyFarm" Menu="@_options.GetMenu(MenuType.SystemConsistencyFarm)" @bind-value="SelectedVisit.SystemConsistencyFarm"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Propietário" Id="systemConsistencyOwner" Menu="@_options.GetMenu(MenuType.SystemConsistencyOwner)" @bind-value="SelectedVisit.SystemConsistencyOwner"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações" Id="systemConsistencyObservations" Menu="@_options.GetMenu(MenuType.SystemConsistencyObservations)" @bind-value="SelectedVisit.SystemConsistencyObservations"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Dados Para Cálculo ATR">
    <div class="row">
        <div class="col">
            <select class="form-select form-select-lg mb-3" @onchange="OnClarifySelected">
                @foreach (var clarify in Enum.GetValues(typeof(Clarify))
                    .Cast<Clarify>()
                    .Select(v => v.ToString())
                    .ToList())
                {
                    <option value="@clarify">@clarify</option>
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Pbu" Id="benchmarkingEquipmentExpectedCrop" @bind-value="SelectedVisit.BenchmarkingEquipmentExpectedCrop" ValueUpdated="CalculateAtr"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Brix" Id="benchmarkingEquipmentAccomplishedCrop" @bind-value="SelectedVisit.BenchmarkingEquipmentAccomplishedCrop" ValueUpdated="CalculateAtr"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Leitura Sacarimétrica" Id="benchmarkingEquipmentPreviousCrop" @bind-value="SelectedVisit.BenchmarkingEquipmentPreviousCrop" ValueUpdated="CalculateAtr"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Resultados Atr">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="cystemConsistencyPlantAtr" @bind-value="SelectedVisit.SystemConsistencyPlantAtr" Readonly="true"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaAtr" @bind-value="SelectedVisit.SystemConsistencyConsecanaAtr"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Variação" Id="systemConsistencyDifferenceAtr" @bind-value="SelectedVisit.SystemConsistencyDifferenceAtr" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Resultados Pureza">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="cystemConsistencyPlantPurity" @bind-value="SelectedVisit.SystemConsistencyPlantPurity" Readonly="true"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaPurity" @bind-value="SelectedVisit.SystemConsistencyConsecanaPurity"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Variação" Id="systemConsistencyDifferencePurity" @bind-value="SelectedVisit.SystemConsistencyDifferencePurity" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Resultados Pol">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="cystemConsistencyPlantPol" @bind-value="SelectedVisit.SystemConsistencyPlantPol" Readonly="true"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaPol" @bind-value="SelectedVisit.SystemConsistencyConsecanaPol"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Variação" Id="systemConsistencyDifferencePol" @bind-value="SelectedVisit.SystemConsistencyDifferencePol" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Resultados Fibra">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="cystemConsistencyPlantFiber" @bind-value="SelectedVisit.SystemConsistencyPlantFiber" Readonly="true"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaFiber" @bind-value="SelectedVisit.SystemConsistencyConsecanaFiber"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Variação" Id="systemConsistencyDifferenceFiber" @bind-value="SelectedVisit.SystemConsistencyDifferenceFiber" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>

<VisitDataSeparator Title="Resultados Pcc">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="cystemConsistencyPlantPcc" @bind-value="SelectedVisit.SystemConsistencyPlantPcc" Readonly="true"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaPcc" @bind-value="SelectedVisit.SystemConsistencyConsecanaPcc"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Pcc()" Id="systemConsistencyDifferencePcc" @bind-value="SelectedVisit.SystemConsistencyDifferencePcc" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Resultados Ar">
    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Usina" Id="cystemConsistencyPlantAr" @bind-value="SelectedVisit.SystemConsistencyPlantAr" Readonly="true"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Consecana" Id="systemConsistencyConsecanaAr" @bind-value="SelectedVisit.SystemConsistencyConsecanaAr"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitNumberInput Title="Variação" Id="systemConsistencyDifferenceAr" @bind-value="SelectedVisit.SystemConsistencyDifferenceAr" Readonly="true"/>
        </div>
    </div>
</VisitDataSeparator>

@code {

    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();
    
    [Parameter] 
    public string VisitId { get; set; } = string.Empty;

    private Menu[] _options = Array.Empty<Menu>();

    public Visit SelectedVisit { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetMenuOptions(PageType.SystemConsistency);
    }
    
    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrWhiteSpace(VisitId))
        {
            SelectedVisit = await VisitService.GetByIdAsync(VisitId);
            Layout.SelectedVisitId = VisitId;
        }
    }

    private void OnClarifySelected(ChangeEventArgs e)
    {
    // if (EditVisitLayout.SelectedVisit is not null)
    // {
    //     var visit = EditVisitLayout.SelectedVisit;
    //     EditVisitLayout.SelectedVisit = await VisitService.UpdateAsync(visit);
    // }
    //
    // var route = e.Value?.ToString();
    // if (route is null) return;
    //
    // NavigationManager.NavigateTo($"{route}");
    }

    private void CalculateAtr()
    {
    }

    public void Dispose()
    {
        VisitService.UpdateAsync(SelectedVisit);
    }
    
    public async ValueTask DisposeAsync()
    {
        await VisitService.UpdateAsync(SelectedVisit);
    }

}