@inject NavigationManager NavigationManager

<div class="form-floating input-group mb-3">
    <InputText class="form-control" list="@($"list-{Id}")" id="@Id" @oninput="UpdateParent" @bind-Value="@Value"/>
    @if (Option is not null)
    {
        <datalist id="@($"list-{Id}")">
            @foreach (var opt in Option.Options)
            {
                <option value="@opt"/>
            }
        </datalist>
    }
    <label for="@Id" >@Title</label>
    <button class="btn btn-outline-secondary" type="button">+</button>
</div >

@code {

    [Parameter]
    public MenuOption? Option { get; set; }

    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task UpdateParent(ChangeEventArgs e)
    {
        await ValueChanged.InvokeAsync(e.Value?.ToString());
    }
    
    private void AddOption() {
        NavigationManager.NavigateTo("/option");
    }
}