@using FiscalLabApp.Enums
@if (IsChecked)
{
    <input type="radio" class="btn-check flex-fill" name="btnTab" id="@GetId()" checked @onchange="@(OnTabSelectedAsync)">
}
else
{
    <input type="radio" class="btn-check flex-fill" name="btnTab" id="@GetId()" @onchange="@(OnTabSelectedAsync)">
}
<label class="btn btn-outline-secondary text-truncate default-text" for="@GetId()">@Title</label>

@code {
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public HomeTabType Type { get; set; }
    [Parameter] public bool IsChecked { get; set; }
    [Parameter]
    public EventCallback<HomeTabType> OnTabSelected { get; set; }
     
    private async Task OnTabSelectedAsync()
    {
        await OnTabSelected.InvokeAsync(Type);
    }

    private string GetId()
    {
        return Enum.GetName(typeof(HomeTabType), Type)!;
    }
}