@if (IsSelected)
{
<input type="radio" class="btn-check flex-fill" name="btnTab" id="@GetId()" checked @onchange="@(OnTabSelectedAsync)" disabled="@IsDisabled">
}
else
{
<input type="radio" class="btn-check flex-fill" name="btnTab" id="@GetId()" @onchange="@(OnTabSelectedAsync)" disabled="@IsDisabled">
}
<label class="btn btn-outline-secondary text-truncate default-text" for="@GetId()" disabled="@IsDisabled">@Title</label>