<button class="settings-button btn" style="background-color: @ButtonColor;" @onclick="ExecuteTask" disabled="@IsLoading" tabindex="@TabIndex">
    <i class="bi @Icon"></i>
    <i class="bi bi-arrow-repeat loading-icon @LoadingClass"></i>
    <div class="setting-text">
        <span class="setting-name">@Name</span>
        <span class="setting-description" style="font-size: small;">@Description</span>
    </div>
</button>