@using FiscalLabApp.Enums
@using FiscalLabApp.Helpers

<EditForm EditContext="@_editContext" OnValidSubmit="@OnSaveClickHandler">
    <DataAnnotationsValidator/>
    <div class="form-floating mb-3">
        <InputText class="form-control" id="nameInput" @bind-Value="AssociationViewModel!.Name"/>
        <label for="nameInput">Nome <strong class="text-danger">*</strong></label>
        <ValidationMessage For="@(() => AssociationViewModel.Name)"/>
    </div >

    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <InputText class="form-control" id="cityInput" @bind-Value="AssociationViewModel.City"/>
                <label for="cityInput">Cidade <strong class="text-danger">*</strong></label>
                <ValidationMessage For="@(() => AssociationViewModel.City)"/>
            </div >
        </div>

        <div class="col">
            <div class="form-floating mb-3">
                <InputSelect @bind-Value="SelectedState" class="form-control" id="stateInput" @bind-Value:after="OnStateChangeHandler">
                    @foreach (var state in AddressHelper.StatesFromBrazil)
                    {
                        <option value="@state.Key" selected="@(AssociationViewModel.State.Equals(state.Key))">@state.Value</option>
                    }
                </InputSelect>
                <label for="stateInput">Estado <strong class="text-danger">*</strong></label>
                <ValidationMessage For="@(() => AssociationViewModel.State)"/>
            </div >
        </div>

    </div>

    <div class="form-floating mb-3">
        <InputTextArea class="form-control" id="emailInput" @bind-Value="AssociationViewModel.Emails" rows="@Rows"/>
        <label for="emailInput">Emails <strong class="text-danger">*</strong></label>
        <ValidationMessage For="@(() => AssociationViewModel.Emails)"/>
    </div >

    <div class="d-flex justify-content-end gap-3">
        <LoadingButton Title="Salvar" StyleType="ButtonStyle.Success" OnClick="OnSubmitHandler"></LoadingButton>
    </div>
</EditForm >
