@using FiscalLabApp.Extensions
<DataSeparator Title="Conclusao">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Desempenho do fiscal" Menu="@Menus.GetMenu(MenuType.ConclusionInspectorPerformance)" Id="conclusionInspectorPerformance" @bind-value="Conclusion.InspectorPerformance"  OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Desempenho Laboratório" Menu="@Menus.GetMenu(MenuType.ConclusionLaboratoryPerformance)" Id="conclusionLaboratoryReceptivity" @bind-value="Conclusion.LaboratoryReceptivity"  OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Pendências" Menu="@Menus.GetMenu(MenuType.ConclusionPendencies)" Id="conclusionPendencies" @bind-Value="Conclusion.Pendencies"  OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações sobre a visita" Menu="@Menus.GetMenu(MenuType.ConclusionObservations)" Id="conclusionObservations" @bind-Value="Conclusion.Observations"  OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>
    <div class="d-grid">
        <button class="btn btn-primary" type="button" @onclick="OpenImages">@($"Imagens({Images.Count})")</button>
    </div>

    <div class="modal @_modalClass" tabindex="-1" role="dialog" style="display:@_modalDisplay; overflow-y: auto;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="optionsModalLabel">Imagens</h5>
                    <button type="button" class="btn-close" @onclick="CloseImages"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <InputFile OnChange="@OnFileSelection" multiple></InputFile>
                    </div>

                    @if (Images.Any())
                    {
                        @foreach (var img in Images)
                        {
                            <div class="flex-row border border-light-subtle p-2 mb-2 my-2">
                                <img src="@img.Url" alt="..." class="rounded mb-2" style="object-fit: contain;max-width: 100%;max-height: 100%;width: auto;height: auto">
                                <div class="form-floating input-group mb-2">
                                    <InputTextArea type="text" class="form-control" id="@img.Name" @bind-Value="@img.Description"/>
                                    <label>Descrição</label>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-danger w-100" @onclick="() => RemoveImage(img.Name)">Remover</button>
                                </div>

                            </div>
                        }
                
                        <button type="submit" class="btn btn-success mb-2 w-100" @onclick="SaveImages" disabled="@(!Images.Any())">Salvar</button>
                    }
                </div>
            </div>
        </div>
    </div>

    @if (_showBackdrop)
    {
        <div class="modal-backdrop fade show"></div>
    }

</DataSeparator>
