@using FiscalLabApp.Extensions
<DataSeparator Title="Sonda">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Tipo de Sonda" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageProbeType)" Id="probeTYpe" @bind-value="DesintegratorProbe.ProbeType" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Tubo Introduzido Totalmente" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageTubeInserted)" Id="tubeInserted" @bind-value="DesintegratorProbe.TubeInserted" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Descarrega Tubo Apos" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageTubeDischarged)" Id="tubeDischarged" @bind-value="DesintegratorProbe.TubeDischarged" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Coleta" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageCollect)" Id="collect" @bind-value="DesintegratorProbe.Collect" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Quantidade Amostra" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageSampleAmount)" Id="sampleAmount" @bind-value="DesintegratorProbe.SampleAmount" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Extração  do Caldo" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageBrothExtraction)" Id="brothExtraction" @bind-value="DesintegratorProbe.BrothExtraction" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Posição da Carga" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageLoadPosition)" Id="loadPosition" @bind-value="DesintegratorProbe.LoadPosition" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Coroa Dentada" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageToothedCrown)" Id="toothedCrown" @bind-value="DesintegratorProbe.ToothedCrown" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Tipo Coroa" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageToothedCrownType)" Id="toothedCrownType" @bind-value="DesintegratorProbe.ToothedCrownType" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 3" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageObservations3)" Id="observations3" @bind-value="DesintegratorProbe.Observations3" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>
</DataSeparator>


<DataSeparator Title="Desintegrador">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Amostra Homogenia" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageHomogeneousSamples)" Id="homogeneousSamples" @bind-value="DesintegratorProbe.HomogeneousSamples" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Conservação Facas" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageKnifeConservation)" Id="knifeConservation" @bind-value="DesintegratorProbe.KnifeConservation" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Conservação Contra-Faca" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageAgainstKnifeConservation)" Id="againstKnifeConservation" @bind-value="DesintegratorProbe.AgainstKnifeConservation" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Distância Faca/Contra-Faca" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageKnifeAgainstKnifeDistance)" Id="knifeAgainstKnifeDistance" @bind-value="DesintegratorProbe.KnifeAgainstKnifeDistance" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Conservação Martelos" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageHammerConservation)" Id="hammerConservation" @bind-value="DesintegratorProbe.HammerConservation" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Betoneira Limpa a Cada" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageCleanMixer)" Id="cleanMixer" @bind-value="DesintegratorProbe.CleanMixer" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="RPM do Desintegrador" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageDesintegratorRpm)" Id="desintegratorRpm" @bind-value="DesintegratorProbe.DesintegratorRpm" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Índice de Preparo" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePagePreparationIndex)" Id="preparationIndex" @bind-value="DesintegratorProbe.PreparationIndex" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitDateInput Title="Afiação/troca facas" Id="sharpenedOrReplacedKnifeAt" @bind-value="DesintegratorProbe.SharpenedOrReplacedKnifeAt"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 4" Menu="@Menus.GetMenu(MenuType.DesintegratorProbePageObservations4)" Id="observations4" @bind-value="DesintegratorProbe.Observations4" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>
</DataSeparator>