@using FiscalLabApp.Extensions
<DataSeparator Title="Prensa">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Manômetro com cert. calibragem" Menu="@Menus.GetMenu(MenuType.PressRefractometerPressureGaugeCertificated)" Id="pressureGaugeCertificated" @bind-value="PressRefractometer.PressureGaugeCertificated" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Uso do Copo Descarte" Menu="@Menus.GetMenu(MenuType.PressRefractometerDiscardCup)" Id="discardCup" @bind-value="PressRefractometer.DiscardCup" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Frasco Coletor" Menu="@Menus.GetMenu(MenuType.PressRefractometerCollectorBottle)" Id="pressRefractometerCollectorBottle" @bind-value="PressRefractometer.CollectorBottle" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Pressão" Menu="@Menus.GetMenu(MenuType.PressRefractometerPressure)" Id="pressRefractometerPressure" @bind-value="PressRefractometer.Pressure" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Temporizador" Menu="@Menus.GetMenu(MenuType.PressRefractometerTimer)" Id="pressRefractometerTimer" @bind-value="PressRefractometer.Timer" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Limpeza da Prensa" Menu="@Menus.GetMenu(MenuType.PressRefractometerPressCleaning)" Id="pressRefractometerPressCleaning" @bind-value="PressRefractometer.PressCleaning" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 7" Menu="@Menus.GetMenu(MenuType.PressRefractometerObservations7)" Id="observations7" @bind-value="PressRefractometer.Observations7" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>
</DataSeparator>


<DataSeparator Title="Refratômetro">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Hômogênização do Caldo" Menu="@Menus.GetMenu(MenuType.PressRefractometerBrothHomogenization)" Id="pressRefractometerBrothHomogenization" @bind-value="PressRefractometer.BrothHomogenization" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Certificado calibragem" Menu="@Menus.GetMenu(MenuType.PressRefractometerRefractometerCalibrationCertificate)" Id="refractometerCalibrationCertificate" @bind-value="PressRefractometer.RefractometerCalibrationCertificate" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Precisão Leitura" Menu="@Menus.GetMenu(MenuType.PressRefractometerPrecisionReading)" Id="precisionReading" @bind-value="PressRefractometer.PrecisionReading" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Aferição" Menu="@Menus.GetMenu(MenuType.PressRefractometerRefractometerBenchmarking)" Id="refractometerBenchmarking" @bind-value="PressRefractometer.RefractometerBenchmarking" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Limpeza" Menu="@Menus.GetMenu(MenuType.PressRefractometerRefractometerCleaning)" Id="refractometerCleaning" @bind-value="PressRefractometer.RefractometerCleaning" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Temperatura Interna" Menu="@Menus.GetMenu(MenuType.PressRefractometerInternalTemperature)" Id="internalTemperature" @bind-value="PressRefractometer.InternalTemperature" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 8" Menu="@Menus.GetMenu(MenuType.PressRefractometerObservations8)" Id="observations8" @bind-value="PressRefractometer.Observations8" OnEditButtonClick="OnEditOptionsButtonClickHandler"/>
        </div>
    </div>
</DataSeparator>