@page "/analytical-balance"
@using FiscalLabApp.Extensions
@layout EditVisitLayout

@inject IMenuService MenuService

<VisitDataSeparator Title="Balança Analítica">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Peso Homogenio Apos" Option="@_options.GetOption(MenuType.AnalyticalBalanceHomogeneousWeight)" Id="homogeneousWeight" @bind-value="Visit.HomogeneousWeight"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Peso Amostra Final" Option="@_options.GetOption(MenuType.AnalyticalBalanceFinalWeight)" Id="finalWeight" @bind-value="Visit.FinalWeight"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Balança Aferida" Option="@_options.GetOption(MenuType.AnalyticalBalanceCalibratedBalance)" Id="calibratedBalance" @bind-value="Visit.CalibratedBalance"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Balança Nivelada" Option="@_options.GetOption(MenuType.AnalyticalBalanceLeveledBalance)" Id="leveledBalance" @bind-value="Visit.LeveledBalance"/>
        </div>
    </div>
    
    <div class="row">
            <div class="col">
                <VisitTextInput Title="Observações 5" Option="@_options.GetOption(MenuType.AnalyticalBalanceObservations5)" Id="observations5" @bind-value="Visit.Observations5"/>
            </div>
        </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Temperatura Ambiente">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Média temperatura ambiente(20ºC±5)" Option="@_options.GetOption(MenuType.AnalyticalBalanceAverageAmbientTemperature)" Id="averageAmbientTemperature" @bind-value="Visit.AverageAmbientTemperature"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 6" Option="@_options.GetOption(MenuType.AnalyticalBalanceObservations6)" Id="observations6" @bind-value="Visit.Observations6"/>
        </div>
    </div>
</VisitDataSeparator>

@code {

    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();

    private MenuOption[] _options = Array.Empty<MenuOption>();

    public Visit Visit { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetOptions(PageType.SugarcaneScale);

        if (Layout.SelectedVisit is not null)
        {
            Visit = Layout.SelectedVisit;
        }
    }

}