@page "/press-refractometer"
@implements IDisposable
@using FiscalLabApp.Extensions
@layout EditVisitLayout

@inject IMenuService MenuService

<VisitDataSeparator Title="Prensa">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Manômetro com cert. calibragem" Option="@_options.GetOption(MenuType.PressRefractometerPressureGaugeCertificated)" Id="pressureGaugeCertificated" @bind-value="Visit.PressureGaugeCertificated"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Uso do Copo Descarte" Option="@_options.GetOption(MenuType.PressRefractometerDiscardCup)" Id="discardCup" @bind-value="Visit.DiscardCup"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Frasco Coletor" Option="@_options.GetOption(MenuType.PressRefractometerCollectorBottle)" Id="pressRefractometerCollectorBottle" @bind-value="Visit.CollectorBottle"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Pressão" Option="@_options.GetOption(MenuType.PressRefractometerPressure)" Id="pressRefractometerPressure" @bind-value="Visit.Pressure"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Temporizador" Option="@_options.GetOption(MenuType.PressRefractometerTimer)" Id="pressRefractometerTimer" @bind-value="Visit.Timer"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Limpeza da Prensa" Option="@_options.GetOption(MenuType.PressRefractometerPressCleaning)" Id="pressRefractometerPressCleaning" @bind-value="Visit.PressCleaning"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 7" Option="@_options.GetOption(MenuType.PressRefractometerObservations7)" Id="observations7" @bind-value="Visit.Observations7"/>
        </div>
    </div>
</VisitDataSeparator>


<VisitDataSeparator Title="Refratômetro">
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Hômogênização do Caldo" Option="@_options.GetOption(MenuType.PressRefractometerBrothHomogenization)" Id="pressRefractometerBrothHomogenization" @bind-value="Visit.BrothHomogenization"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Certificado calibragem" Option="@_options.GetOption(MenuType.PressRefractometerRefractometerCalibrationCertificate)" Id="refractometerCalibrationCertificate" @bind-value="Visit.RefractometerCalibrationCertificate"/>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <VisitTextInput Title="Precisão Leitura" Option="@_options.GetOption(MenuType.PressRefractometerPrecisionReading)" Id="precisionReading" @bind-value="Visit.PrecisionReading"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Aferição" Option="@_options.GetOption(MenuType.PressRefractometerRefractometerBenchmarking)" Id="refractometerBenchmarking" @bind-value="Visit.RefractometerBenchmarking"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Limpeza" Option="@_options.GetOption(MenuType.PressRefractometerRefractometerCleaning)" Id="refractometerCleaning" @bind-value="Visit.RefractometerCleaning"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Temperatura Interna" Option="@_options.GetOption(MenuType.PressRefractometerInternalTemperature)" Id="internalTemperature" @bind-value="Visit.InternalTemperature"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <VisitTextInput Title="Observações 8" Option="@_options.GetOption(MenuType.PressRefractometerObservations8)" Id="observations8" @bind-value="Visit.Observations8"/>
        </div>
    </div>
</VisitDataSeparator>

@code {

    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();

    private MenuOption[] _options = Array.Empty<MenuOption>();

    public Visit Visit { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        _options = await MenuService.GetOptions(PageType.SugarcaneScale);

        if (Layout.SelectedVisit is not null)
        {
            Visit = Layout.SelectedVisit;
        }
    }

    public void Dispose()
    {
        Layout.SaveChanges();
    }

}