@page "/settings"

@using FiscalLabApp.Helpers
<PageTitle>Configurações</PageTitle>

<div class="settings-container">
    <SettingButton IsLoading="@IsTaskRunning" Icon="bi-cloud-upload" Name="Sincronizar Visitas" Description="@SettingsDescription.SyncVisitsDescription" OnClick="@HandleSyncVisitsAsync" />
    <SettingButton IsLoading="@IsTaskRunning" Icon="bi-save" Name="Backup" Description="@SettingsDescription.BackupDescription" OnClick="@HandleBackupAsync" />
    <SettingButton IsLoading="@IsTaskRunning" Icon="bi-arrow-clockwise" Name="Restaurar" Description="@SettingsDescription.RestoreDescription" OnClick="@HandleRestoreAsync" />
</div>