@page "/settings"

@using FiscalLabApp.Helpers
<PageTitle>Configurações</PageTitle>

<div class="settings-container">
    <SettingButton @ref="_syncVisitsButton" Icon="bi-cloud-upload" Name="Sincronizar Visitas" Description="@SettingsDescription.SyncVisitsDescription" OnClick="@HandleSyncVisitsClick" />
    <SettingButton @ref="_backupButton" Icon="bi-save" Name="Backup" Description="@SettingsDescription.BackupDescription" OnClick="@HandleBackupAsync" />
    <SettingButton @ref="_restoreButton" Icon="bi-arrow-clockwise" Name="Restaurar" Description="@SettingsDescription.RestoreDescription" OnClick="@HandleRestoreClick" />
</div>