<PageTitle>Configurações</PageTitle>

<div class="settings-container">
    <div class="d-flex flex-column">
        <button class="btn btn-sm btn-success mb-4 btn-lg" type="button" @onclick="SyncVisitsAsync" disabled="@(ApplicationContextAccessor.IsOffline() || ShowSyncVisitsSpinner)">
            @if (ShowSyncVisitsSpinner)
            {
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            }
            @($"  {SyncVisitsStatus}")
        </button>

        <button class="btn btn-sm btn-success mb-4 btn-lg" type="button" @onclick="BackupData">
            @if (ShowBackupSpinner)
            {
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            }
            @($"  {BackupStatus}")
        </button>
        <button class="btn btn-sm btn-danger mb-4 btn-lg" type="button" @onclick="ClearDataBase" disabled="@(ApplicationContextAccessor.IsOffline())">
            @if (ShowClearDataSpinner)
            {
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            }
            @($"  {ClearDataStatus}")
        </button>
    </div>
</div>