<div class="form-floating mb-3">
  <input class="form-control" list="@($"list-{Id}")" id="@Id" @oninput="UpdateParent" @bind-value="@Value">
  <label for="@Id">@Title</label>
  @if (Option is not null)
  {
      <datalist id="@($"list-{Id}")">
          @foreach (var opt in Option.Options)
          {
              <option value="@opt"/>
          }
      </datalist>
  }
</div >

@code {

    [Parameter]
    public MenuOption? Option { get; set; }
    
    [Parameter]
    public string Id { get; set; } = string.Empty;
    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public string Value { get; set; }= string.Empty;
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    
    private async Task UpdateParent(ChangeEventArgs e)
    {
        await ValueChanged.InvokeAsync(e.Value?.ToString());
    }
}